@model BookWyrm.ViewModels.ProfileIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>
@Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })
<div class="active-challenge">
    <h3>Active Challenge</h3>
    @if (Model.ActiveChallenge == null)
    {
        <p>You don't have an active challenge. @Html.ActionLink("Pick a random one?", "Index", "Challenge", new { id = -1 }, null)</p>
    }
    else
    {
        <div>
            @Html.Partial("_ChallengeDetails")
        </div>
    }
</div>

<div class="badges">
    <h3>Completed Challenges</h3>
    @if (Model.CompletedChallenges.Count == 0)
    {
        <p>You haven't completed any reading challenges yet</p>
    }
    else
    {
        <div class="completed-container">
            @foreach (var challenge in Model.CompletedChallenges)
            {
                <div class="completed-challenge">
                    @if (challenge.Icon == null)
                    {
                        <img src="~/Content/default-book.svg" class="badge-icon" />
                    }
                    else
                    {
                        <img src="challenge.Icon" class="badge-icon" />
                    }
                    <h5 class="badge-title">@challenge.Name</h5>
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        @Html.Hidden("Id", challenge.Id)
                        <button type="submit" value="X" formaction="/RemoveChallenge" class="remove-btn btn">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    }
                </div>
            }
        </div>
    }
</div>

